.navbar-collapse{
    justify-content: flex-end;
}

/*----------------------------------------------Navigation------------------------------------------------*/
.banner{
    width: 100%;
    height: 30em;
    background-image: url(http://via.placeholder.com/800x650);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.relative{
position: relative;
display: block;
}

.features h2,img  {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.price{
    border: 10px solid aliceblue;
    padding: 3em;
    text-align: center;
    padding: 3em;
    background-color: #fff;
}
.price h4,h5,p{
    display: block;
}

 strong.price-figure{
    font-size: 2em;
}


/*-----------contact--------------*/

div.contact-info{
    margin: 0 auto;
    text-align: center;
}

div.contact-items h5{
    display: inline-block;
    width: 15em;
}


/*-------------------------------download----------------*/

.download-temp{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 40em;
}

.footer-img{
    width: 100%;
    height: 20em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("http://via.placeholder.com/800x300");
    margin: 0 auto;
}



