.navbar-collapse{
    justify-content: flex-end;
}

/*----------------------------------------------Navigation------------------------------------------------*/
img.banner-img{

    z-index: -5;}

.relative{
    position: relative;

}
